/* JQM overrides */


/* tablet first */

#content-app
{
    background: #ffffff url(../img/tablet/stage.jpg) no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#sprite-container
{
    height: 390px;
    padding: 0;
    position: relative;
    margin: 0 auto;
    background: transparent url(../img/tablet/orchestra.png) no-repeat center center;
}

.sprite
{
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0;
    z-index: 1000;
}

#knight1
{
    background: transparent url(../img/sprites/knight_swinging.png) 0 0 no-repeat;
    left: 0px;
}

#knight2
{
    background: transparent url(../img/sprites/knight_swinging.png) 0 0 no-repeat;
    left: 100px;
}

#knight3
{
    background: transparent url(../img/sprites/knight_swinging.png) 0 0 no-repeat;
    left: 200px;
}

#knight4
{
    background: transparent url(../img/sprites/knight_swinging.png) 0 0 no-repeat;
    left: 300px;
}

#knight5
{
    background: transparent url(../img/sprites/knight_swinging.png) 0 0 no-repeat;
    left: 400px;
}

#podium
{
    position: absolute;
    -webkit-transition-property: bottom;
    -webkit-transition-timing-function: linear, ease-out;
    -webkit-transition-duration: 1s, 1s;
    bottom: -180px;
}

#podium:hover
{
    position: absolute;
    -webkit-transition-property: bottom;
    -webkit-transition-timing-function: linear, ease-in;
    -webkit-transition-duration: 1s, 1s;
    bottom: 0px;
}


/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
{
    #content-app
    {
        min-height: 740px;
    }

    #sprite-container
    {
        width: 600px;
        top: 300px;
    }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
{
    #content-app
    {
        min-height: 990px;
    }

    #sprite-container
    {
        width: 600px;
        top: 400px;
    }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px)
{
    #content-app
    {
        min-height: 1000px;
    }

    #sprite-container
    {
        width: 600px;
        top: 500px;
    }
}