/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea
{
    color: #222;
}

body
{
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img
{
    vertical-align: middle;
}

/* ==========================================================================
   Eigene Styles
   ========================================================================== */

/*
 * Standart-Funktionen auf iOS-Geräten unterbinden
 */
img,
div,
a
{
    /* default press state */
    -webkit-tap-highlight-color: transparent;

    /* kein: "Bild speichern" */
    -webkit-touch-callout: none;

    /* kein: Copy&Paste */
    -webkit-user-select: none;

    /* kein: Bilder rumschieben */
    -webkit-user-drag: none;
}

/* JQM overrides
   ========================================================================== */

h1
{
    color: #fff;
}

/* Progress-Balken */
.ui-tolito-progressbar-outer-e
{
    background: #fcc200;
    background-image: linear-gradient(#fcc200, #fcc200);
    background-image: -moz-linear-gradient(#fcc200, #fcc200);
    background-image: -ms-linear-gradient(#fcc200, #fcc200);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fcc200),to(#fcc200));
    background-image: -webkit-linear-gradient(#fcc200, #fcc200);
    border: 1px solid #f7ae00;
    color: #111;
    text-shadow: 0 1px 0 #fff;
}

/* Ecken eckig */
.ui-corner-all
{
    -webkit-border-radius: 0em
    border-radius: 0em
}

.ui-btn-corner-all
{
    -webkit-border-radius: 0em;
    border-radius: 0em;
}

/* Titel, Logo (überschrieben mit eigener id) */
#preload-header
{
    background: transparent none;
    border: none;
}

/* Preload
   ========================================================================== */

#preload-page
{
    background: white url(../img/tablet/berphil_bg.jpg) no-repeat fixed center top;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#preload-logo
{
    width: 800px;
    height: 500px;
    background: #FFFFFF url("../img/tablet/app_bg.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 10px auto 10px auto;
    padding: 0;
}

#preload-title, #berphil-logo
{
    display: inline-block;
}

#preload-title
{
    text-align: right;
    color: #505050;
    text-shadow: 0 -1px 0 #000;
}

#progressbar-btn
{
    margin: 10px auto;
}

#progressbar
{
    margin: 10px auto;
    text-align: center;
}


/* ==========================================================================
   App styles
   ========================================================================== */

#app-page
{
    background: #fff url(../img/tablet/app_bg.jpg) no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -webkit-transform: translateZ(0); /* Hardware Beschleunigung für Animationen aktivieren */
}

#app-content
{
    height: 738px; /* TODO: magic number: parent: 768px, -15 padding oben unten */
}

/* Musiker
   ========================================================================== */

#sprite-container
{
    position: relative;
    padding: 0;
    margin: 0 auto 0 auto;
    height: 100%;
}

.sprite
{
    position: absolute;
    width: 270px;
    height: 445px;
    z-index: 1;
    /* TODO: debug */
    border: solid 2px #008000;
}

.hitbox
{
    position: relative;
    width: 150px;
    z-index: 2;
    /* TODO: debug */
    background-color: rgba(255,255,0,0.25);
    border: solid 2px #ff0;
}

#geigerin
{
    background: transparent url(../img/sprites/geige_spielt.png) 0 0 no-repeat;
    left: 0px;
    bottom: 0px;
}

    #geigerin .hitbox
    {
        height: 445px;
        margin: 0 0 0 15px;
    }

#floetistin
{
    background: transparent url(../img/sprites/geige_spielt.png) 0 0 no-repeat;
    left: 200px;
    bottom: 40px;
}

    #floetistin .hitbox
    {
        height: 300px;
        margin: 0 0 0 15px;
    }

#harfenspieler
{
    background: transparent url(../img/sprites/geige_spielt.png) 0 0 no-repeat;
    left: 400px;
    bottom: 60px;
}

    #harfenspieler .hitbox
    {
        height: 300px;
        margin: 0 0 0 15px;
    }

#knight4
{
    background: transparent url(../img/sprites/geige_spielt.png) 0 0 no-repeat;
    left: 600px;
    bottom: 40px;
}

    #knight4 .hitbox
    {
        height: 300px;
        margin: 0 0 0 15px;
    }

#knight5
{
    background: transparent url(../img/sprites/geige_spielt.png) 0 0 no-repeat;
    left: 800px;
    bottom: 0px;
}

    #knight5 .hitbox
    {
        height: 445px;
        margin: 0 0 0 15px;
    }

/* Intro
   ========================================================================== */

#silhouette
{
    position: absolute;
    width: 99%;
    height: 768px;
    padding: 0;
    bottom: 0px;
    left: 0px;
    z-index: 10;
    background: transparent url(../img/tablet/silhouette.png) bottom center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

/* Pult-Menü
   ========================================================================== */

#podium
{
    position: absolute;
    overflow: hidden;
    bottom: 0px;
    left: 165px;
    background: transparent url(../img/tablet/pult.png) fixed bottom center no-repeat;
    padding: 0;
    z-index: 3;
    /* TODO: debug */
    border: solid 1px red;
}

.podium-halfs
{
    width: 340px;
    height: 175px;
    padding: 0;
    margin: 0;
    display: inline-block;
    /* TODO: debug */
    border: solid 2px green;
}

#mood-container
{
    width: 160px;
    padding: 0;
    /* TODO: debug */
    border: solid 2px blue;
}

.mood-icon
{
}

/* Gesten Canvas
   ========================================================================== */

/* Habe aus dem ding ein block element gemacht und dann einfach über alles drüber gelegt
   Ist zu anfang "hidden", klick auf den rechten spieler zeigt ihn
 */
#gestures
{
    display: block;
    position: absolute;
    z-index: 4;
    top: 10px;
    left: 10px;
    /* TODO: debug */
    border: solid 1px orange;
    background-color: rgba(50, 50, 100, .5);
}

/* ==========================================================================
   JavaScript Classes (prefix with "js-")
   ========================================================================== */

/* Blur-Effekt */
.js-blur
{
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
}

.js-ani-play-blur
{
    -webkit-animation-name: js-ani-blur;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
}

.js-ani-play-blur-rev
{
    -webkit-animation-name: js-ani-blur-rev;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
}

    @-webkit-keyframes js-ani-blur
    {
        from { -webkit-filter: blur(0px); }
        to   { -webkit-filter: blur(2px); }
    }

    @-webkit-keyframes js-ani-blur-rev
    {
        from { -webkit-filter: blur(2px); }
        to   { -webkit-filter: blur(0px); }
    }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */
.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden
{
    display: none ;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   Media Queries von:
   http://css-tricks.com/snippets/css/media-queries-for-standard-devices/
   (immer am Schluss)
   ========================================================================== */

/* Smartphones (iphone 3) (landscape)  */
@media only screen
and (min-width: 321px) and (max-width: 480px)
{

}

/* Smartphones (iphone 3) (portrait) ----------- */
@media only screen
and (max-width : 320px)
{

}

/* iPads (landscape) ------------ PREFERRED ------------ */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
{

}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
{
    /*
        TODO: Versuch eines landscape-locks. wenns so nicht geht dann in javascript
     */
    #app-page,
    #preload-page
    {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px)
{
    /* preload
       ========================================================================== */

    #progressbar-btn
    {
        width: 50%;
    }

    #progressbar
    {
        width: 50%;
        margin: 0 auto;
    }

    .controlgroup .ui-controlgroup-controls
    {
        width: 50%;
        margin: 0 auto;
    }

    /* App
      ========================================================================== */

    #app-content
    {
        height: 900px;
    }

    #sprite-container
    {
        width: 1100px;
    }
}

/* iPhone 4 (landscape) ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5)
and (orientation: landscape)
{

}

/* iPhone 4 (portrait) ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5)
and (orientation: portrait)
{

}
