/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body
{
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
    vertical-align: middle;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

img
{
    /* default press state */
    -webkit-tap-highlight-color: transparent;

    /* kein "Bild speichern" */
    -webkit-touch-callout: none;

    /* kein: Copy&Paste */
    -webkit-user-select: none;

    /* kein: Bilder rumschieben */
    -webkit-user-drag: none;
}

/* ******** JQM overrides ******** */

.ui-tolito-progressbar-outer-e
{
    background: #FCC200;
    background-image: linear-gradient(#FCC200,#FCC200);
    background-image: -moz-linear-gradient(#FCC200,#FCC200);
    background-image: -ms-linear-gradient(#FCC200,#FCC200);
    background-image: -o-linear-gradient(#FCC200,#FCC200);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#FCC200),to(#FCC200));
    background-image: -webkit-linear-gradient(#FCC200,#FCC200);
    border: 1px solid #F7AE00;
    color: #111;
    text-shadow: 0 1px 0 #fff;
}

.ui-corner-all
{
    -webkit-border-radius: 0em
    border-radius: 0em
}

.ui-btn-corner-all
{
    -webkit-border-radius: 0em;
    border-radius: 0em;
}

#preload-header
{
    background: transparent none;
    border: none;
}


/* ******** preload ******** */

#preload-logo
{
    margin: 10px auto 10px auto;
    padding: 0;
}

#preload-title, #berphil-logo
{
    display: inline-block;
}

#preload-title
{
    text-align: right;
    color: #505050;
    text-shadow: 0 -1px 0 #000;
}

#progressbar-button
{
    margin: 10px auto;
}

#progressbar
{
    margin: 10px auto;
    text-align: center;

}

/* ==========================================================================
   App styles
   ========================================================================== */

#app-content
{
    background: #ffffff url(../img/tablet/stage.jpg) no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#sprite-container
{
    height: 400px;
    padding: 0;
    position: relative;
    margin: 0 auto;
    /* TODO: debug */
    border: solid 2px red;
}

.sprite
{
    position: absolute;
    width: 351px;
    height: 400px;
    bottom: 0;
    /* TODO: debug */
    border: solid 2px green;
}

#geigerin
{
    background: transparent url(../img/sprites/geigerin.png) 0 0 no-repeat;
    left: 0px;
    z-index: 1000;
}

#knight2
{
    background: transparent url(../img/sprites/geigerin.png) 0 0 no-repeat;
    left: 200px;
    z-index: 500;
}

#knight3
{
    background: transparent url(../img/sprites/geigerin.png) 0 0 no-repeat;
    left: 400px;
    z-index: 250;
}

#knight4
{
    background: transparent url(../img/sprites/geigerin.png) 0 0 no-repeat;
    left: 600px;
    z-index: 500;
}

#knight5
{
    background: transparent url(../img/sprites/geigerin.png) 0 0 no-repeat;
    left: 800px;
    z-index: 1000;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */
.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */
.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */
.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
    display: none ;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}


/* Standard Media Queries von:
    http://css-tricks.com/snippets/css/media-queries-for-standard-devices/
   (immer am Schluss)
*/

/* Smartphones (iphone 3) (landscape) ----------- */
@media only screen
and (min-width: 321px) and (max-width: 480px)
{
    div#logo
    {
        width: 300px;
        height: 120px;
        background: #ffffff url("../img/phone/conductor_landscape.jpg") no-repeat center center fixed ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

/* Smartphones (iphone 3) (portrait) ----------- */
@media only screen
and (max-width : 320px)
{
    div#logo
    {
        width: 150px;
        height: 200px;
        background: #ffffff url("../img/phone/conductor_portrait.png") no-repeat center center fixed ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

/* iPads (landscape) ------------ PREFERRED ------------ */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
{
    /* ******** preload ******** */

    #preload-logo
    {
        width: 800px;
        height: 500px;
        background: #ffffff url("../img/tablet/conductor_landscape.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #preload-page
    {
        background: white url(../img/tablet/berphil_bg.jpg) no-repeat fixed center top;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #berphil-logo
    {

    }

    /* ******** app ******** */

    #app-content
    {
        min-height: 740px;
    }

    #sprite-container
    {
        width: 1024px;
        top: 200px;
    }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
{
    div#logo
    {
        width: 400px;
        height: 800px;
        background: transparent url("../img/tablet/conductor_portrait.png") no-repeat center center fixed ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #app-content
    {
        min-height: 990px;
    }

    #sprite-container
    {
        width: 600px;
        top: 400px;
    }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px)
{
    div#logo
    {
        width: 980px;
        height: 600px;
        background: #ffffff url("../img/desktop/conductor_landscape.jpg") no-repeat center center fixed ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #progressbar-button
    {
        width: 50%;
    }

    #progressbar
    {
        width: 50%;
        margin: 0 auto;
    }

    .controlgroup .ui-controlgroup-controls
    {
        width: 50%;
        margin: 0 auto;
    }

    #app-content
    {
        min-height: 1000px;
    }

    #sprite-container
    {
        width: 600px;
        top: 500px;
    }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px)
{
    div#logo
    {
        background: #ffffff url("../img/desktop/conductor_landscape.jpg") no-repeat center center fixed ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

/* iPhone 4 (landscape) ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5)
and (orientation: landscape)
{
    div#logo
    {
        background: #ffffff url("../img/phone/conductor_landscape.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

/* iPhone 4 (portrait) ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5)
and (orientation: portrait)
{
    div#logo
    {
        background: transparent url("../img/phone/conductor_portrait.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
