/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* JQM overrides */


/* "mobile first" Styles für kleinste Screens */
/* TODO: tablet first? */

div#logo
{
    margin: 10px auto 10px auto;
    padding: 0;
}

#progressbar-button
{
    margin: 10px auto;
}

#progressbar
{
    margin: 10px auto;
    text-align: center;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */
.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */
.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */
.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
    display: none ;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}


/* Standard Media Queries von:
    http://css-tricks.com/snippets/css/media-queries-for-standard-devices/
   (immer am Schluss)
*/

/* Smartphones (iphone 3) (landscape) ----------- */
@media only screen
and (min-width: 321px) and (max-width: 480px)
{
    div#logo
    {
        width: 300px;
        height: 120px;
        background: #ffffff url("../img/phone/conductor_landscape.jpg") no-repeat center center fixed ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

/* Smartphones (iphone 3) (portrait) ----------- */
@media only screen
and (max-width : 320px)
{
    div#logo
    {
        width: 150px;
        height: 200px;
        background: #ffffff url("../img/phone/conductor_portrait.png") no-repeat center center fixed ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
{
    div#logo
    {
        width: 900px;
        height: 580px;
        background: #ffffff url("../img/tablet/conductor_landscape.jpg") no-repeat center center fixed ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
{
    div#logo
    {
        width: 400px;
        height: 800px;
        background: transparent url("../img/tablet/conductor_portrait.png") no-repeat center center fixed ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px)
{
    div#logo
    {
        width: 980px;
        height: 600px;
        background: #ffffff url("../img/desktop/conductor_landscape.jpg") no-repeat center center fixed ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #progressbar-button
    {
        width: 50%;
    }

    #progressbar
    {
        width: 50%;
        margin: 0 auto;
    }

    .controlgroup .ui-controlgroup-controls
    {
        width: 50%;
        margin: 0 auto;
    }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px)
{
    div#logo
    {
        background: #ffffff url("../img/desktop/conductor_landscape.jpg") no-repeat center center fixed ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

/* iPhone 4 (landscape) ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5)
and (orientation: landscape)
{
    div#logo
    {
        background: #ffffff url("../img/phone/conductor_landscape.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

/* iPhone 4 (portrait) ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5)
and (orientation: portrait)
{
    div#logo
    {
        background: transparent url("../img/phone/conductor_portrait.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

/* Phablets (portrait) ----------- *//*
@media only screen
and (min-width: 400px) and (device-width : 800px)
and (min-height: 590px) and (max-height : 1190px)
{
    div#logo
    {
        width: 300px;
        height: 480px;
        background: transparent url("../img/tablet/conductor_portrait.png") no-repeat center center fixed ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

*//* Phablets (landscape) ----------- *//*
@media only screen
and (min-width: 600px) and (max-width: 800px)
and (min-height: 380px) and (max-height: 400px)
{
    div#logo
    {
        width: 600px;
        height: 220px;
        background: #ffffff url("../img/tablet/conductor_landscape.jpg") no-repeat center center fixed ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}*/
