@charset "UTF-8";

/* ===========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html, button, input, select, textarea {
  font-family: Arial, sans-serif;
  color: #ffffff;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img
{
    vertical-align: middle;
}


/* ==========================================================================
   Eigene Styles
   ========================================================================== */

/*
 * Standart-Funktionen auf iOS-Geräten unterbinden
 */
img,
div,
a
{
    /* default press state */
    -webkit-tap-highlight-color: transparent;

    /* kein: "Bild speichern" */
    -webkit-touch-callout: none;

    /* kein: Copy&Paste */
    -webkit-user-select: none;

    /* kein: Bilder rumschieben */
    -webkit-user-drag: none;
}

/*
 * Reset box model sizing on all elements
 */
*
{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body *
{
    margin: 0;
    padding: 0;
}

/* JQM overrides
   ========================================================================== */

/* Progress-Balken */
.ui-tolito-progressbar-outer-e
{
    background: #fcc200;
    background-image: linear-gradient(#fcc200, #fcc200);
    background-image: -moz-linear-gradient(#fcc200, #fcc200);
    background-image: -ms-linear-gradient(#fcc200, #fcc200);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fcc200),to(#fcc200));
    background-image: -webkit-linear-gradient(#fcc200, #fcc200);
    border: 1px solid #f7ae00;
    color: #111;
    text-shadow: 0 1px 0 #fff;
}

/* Ecken eckig */
.ui-corner-all
{
    -webkit-border-radius: 0em
    border-radius: 0em
}

.ui-btn-corner-all
{
    -webkit-border-radius: 0em;
    border-radius: 0em;
}

/* Titel, Logo (überschrieben mit eigener id) */
#preload-header
{
    background: transparent none;
    border: none;
}

h1
{
    font-size: 1.2em;
}

body
{
    text-shadow: none;
}

.ui-content
{
    padding-top: 0;
}

.ui-body-c, .ui-overlay-c
{
    color: #ffffff;
    text-shadow: none;
}

.ui-body-c, .ui-overlay-c
{
    color: #7a7a7a;
    text-shadow: none;
}

.ui-bar-a
{
    font-family: Arial, sans-serif;
}

h2
{
    color: #505050;
}

/* Header
   ========================================================================== */

/* äusserer container für header */
#header-container
{
    width: 960px;
    height: 115px;
    margin: 0 auto 15px auto;
    position: relative;
}

#logo
{
    position: absolute;
    top: 0;
    left: -118px;
    height: 115px;
    width: 316px;
    background: transparent url(../img/tablet/berphil_logo.png) top left no-repeat;
}

#nav-bar
{
    width: 960px;
    height: 34px;
    margin: 0 auto 20px auto;
    background-color: #505050;
}

ul
{
    list-style: none;
    display: inline;
    width: 960px;
}

li
{
    display: inline;
    list-style: none;
    box-sizing: content-box;
    vertical-align: middle;
}

li.with-padding
{
    text-transform: uppercase;
    display: inline;
    font-size: 14px;
    list-style: none;
    padding: 9px 11px 9px 11px;
    box-sizing: content-box;
    vertical-align: baseline;
}

li#active
{
    background: transparent url("../img/nav_bg.png") repeat-x 0 0;
    color: #505050;
}

/* Content
   ========================================================================== */

#breadcrumbs
{
    width: 960px;
    margin: 0 auto 20px auto;
    font-size: 10px;
    color: #ffffff;
}

#preload-page
{
    background: #ffffff url(../img/tablet/bg.jpg) fixed top left no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content-container
{
    background: #ffffff;
    -webkit-box-shadow: 0 0 10px #aaa;
    -moz-box-shadow: 0 0 10px #aaa;
    box-shadow: 0 0 10px #aaa;
    width: 960px;
    padding: 10px;
    margin: 0px auto 20px auto;
}

/* UI-Elemente
   ========================================================================== */

#progressbar-btn
{
    margin: 10px auto;
}

#progressbar
{
    margin: 10px auto;
    text-align: center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */
.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden
{
    display: none ;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   Media Queries von:
   http://styles-tricks.com/snippets/styles/media-queries-for-standard-devices/
   ========================================================================== */

/* Smartphones (iphone 3) (landscape)  */
@media only screen
and (min-width: 321px) and (max-width: 480px)
{

}

/* Smartphones (iphone 3) (portrait) ----------- */
@media only screen
and (max-width : 320px)
{

}

/* iPads (landscape) --- (wird als Default benutzt) --- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
{

}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
{
    /*
        TODO: Versuch eines landscape-locks. wenns so nicht geht dann in javascript
     */
    #app-page,
    #preload-page
    {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px)
{
    /* preload
       ========================================================================== */

    #progressbar-btn
    {
        width: 30%;
    }

    #progressbar
    {
        width: 30%;
        margin: 0 auto;
    }

    .controlgroup .ui-controlgroup-controls
    {
        width: 50%;
        margin: 0 auto;
    }

    /* App
      ========================================================================== */

    #app-content
    {
        height: 900px;
    }

    #sprite-container
    {
        width: 1100px;
    }
}

/* iPhone 4 (landscape) ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5)
and (orientation: landscape)
{

}

/* iPhone 4 (portrait) ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5)
and (orientation: portrait)
{

}
